@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tamanho {
    background-color: #fff;
    color: #1d1d1b;
}
.body {
    max-height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem !important;
    font-weight: 300 !important;
    color: #1d1d1b;
}

.showcase-card {
    border: 0;
    box-shadow: 2px 2px 8px #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* .showcase-card:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
} */

h3,
a {
    color: #1d1d1b;
    text-decoration: none !important;
    margin: 1rem 0 !important;
}

.image-primary {
    border-radius: 1rem;
    padding: 0 10px;
    /* max-height: 550px; */

}
.cards{
    margin: 1rem 0;
}
.img-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 2px 3px 10px #ddd;
    padding: 10px;
    cursor: pointer;
}
.cards-container {
    max-height: 100vh;
    overflow-y: scroll;
    padding-top: 1rem;
    padding-bottom: 200px;
}
.cards{
    max-width: 300px;
}
.img-card img:hover {
    transform: scale(1.01);
    transition: 1s;
}

.botao-pages {
    position: fixed;
    width: 100px;
    right: 40px;
    bottom: 20px;
    background-color: #0C8973;
    color: #eee;
    padding: 5px 1rem;
    text-align: center;
    font-size: 1.2rem;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 2px 4px #000;
}
.botao-pages:hover{
    color: #eee;
    opacity: 0.9;
}

.botao-voltar {
    position: fixed;
    width: 100px;
    left: 40px;
    bottom: 20px;
    background-color: #0C8973;
    color: #eee;
    padding: 5px 1rem;
    text-align: center;
    font-size: 1.2rem;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 2px 4px #000;
}
.botao-voltar:hover{
    color: #eee;
    opacity: 0.9;
}
.btn-print {
    position: absolute;
    top: 20px;
    right: 10%;
    box-shadow: 1px 1px 2px #ddd;
}

.relatorio {
    max-width: 950px;
    margin: auto;
}

/* area do modal */

.area-modal{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10%;
    background-color: #0008;
    display: none;
}

@media (min-width: 991px){
    .cadeira-container{
        transform:  translateX(-130px);
    }
}
@media (min-width: 882px){
    .cadeira-container{
        transform:  translateX(-120px);
    }
}
@media (min-width: 582px){
    .cadeira-container{
        transform:  translateX(-110px);
    }
}
@media (max-width: 582px){
    .cadeira-container{
        transform:  translateX(-50px);
    }
}

@media(max-width: 991px) {
    .cards-container {
        overflow-x: scroll;
        white-space: nowrap;
        margin-top: 50px;
    }

    .cards {
        display: inline-block;
    }

    .body {
        height: auto;
        overflow: scroll;
    }

}