.menu-hamburguer{
    width: 100%;
    display: flex;
    justify-content: end;

}
.menu-hamburguer .menu{
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}
#t-img{
    transform: translateY(7px);
}
#c-t-img{
    transform: translateY(7px);  
}
.btn{
    border: 0;
    border-radius: 0;
    min-width: 90px;
    margin: 5px 0;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 0.5rem 0;
    
}
.rodape{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
main{
    margin-bottom: 100px;
}
.c-cadeira{
    transform: translateY(-60%);
}

@media(max-width: 993px){
    .area-cadeira{
        transform: translateY(-60%);
    }
}
@media(max-width:767px){
    .area-cadeira{
        transform: translateY(-30%);
    }
}
@media(max-width: 600px){
    .contato-rodape{
        display: none;
    }
}