.menu-hamburguer{
    width: 100%;
    display: flex;
    justify-content: end;

}
.menu-hamburguer .menu{
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.rodape{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
main{
    margin-bottom: 100px;
}